.input {
    color: #6778E8;
    font-weight: 900;
    font-size: 3.75rem;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin: 0px 10px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    text-align: center;
    width: 80px;
    background: #F0F3FA;
    height: 85px;
}